*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-bg: #f8f8f8;
  --white: #fff;
  --gray-color: #777;
}

body {
  display: grid;
  grid-template-columns: 350px 1fr;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--gray-color);
  background-color: var(--main-bg);
  min-height: 100vh;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--white);
  gap: 4rem;
  padding-inline-start: 70px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  font-weight: 600;
  color: var(--gray-color);
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 28px 0 0 28px;
}

.nav-item.active,
.nav-item:hover {
  position: relative;
  background-color: var(--main-bg);
}

.nav-item.active::before,
.nav-item:hover::before {
  position: absolute;
  content: '';
  top: -100%;
  left: calc(100% - 56px);
  width: 56px;
  height: 100%;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 var(--main-bg);
}

.nav-item.active::after,
.nav-item:hover::after {
  position: absolute;
  content: '';
  top: 100%;
  left: calc(100% - 56px);
  width: 56px;
  height: 100%;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 var(--main-bg);
}

.nav-item img {
  display: block;
  width: 24px;
  height: 24px;
  object-fit: contain;
  aspect-ratio: 1/1;
}
